
<footer class="bg-dark p-3 mt-5">
    <div class="contenedor">
        <div class="contenido">
            <div class="contenidotienda">
                <div class="info_footer">
                    <a href="">NOSOTROS</a>
                    <a href="">PROMOCIONES</a>
                    <a href="">NUESTRA CARTA</a>
                    <a href="">CONTACTO</a>
                    <a href="">LOCALES</a>
                    
                </div>
            </div>    
        </div>
        <div class="redes_footer">
            <div class="redes">
                <h6>Redes Sociales</h6>
                <a href="https://www.facebook.com/"><img src="/assets/faceboo.png" alt=""></a>
                <a href="https://www.intagram.com/"><img src="/assets/instagram.png" alt=""></a>
            </div>
            <div class="metodospago">
                <h6>FORMAS DE PAGO</h6>
                <a href=""><img src="/assets/master.png" alt=""></a>
                <a href=""><img src="/assets/yape.png" alt=""></a>
            </div>
        </div>
        <div class="info_footer">
            <a href="">NOSOTROS</a>
            <a href="">PROMOCIONES</a>
            <a href="">NUESTRA CARTA</a>
            <a href="">CONTACTO</a>
            <a href="">LOCALES</a>
            
        </div>
    </div>
    <p class="" >&copy; Derechos Reservados</p>
  </footer>
