<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="contenido">
        <div class="informacion">
            <div class="contacto">
                <h1>CONTACTO</h1>
                <h5>Lorem ipsum dolor 
                    sit, amet consectetur 
                    adipisicing elit. Ut quam ipsam 
                    fugit, consequuntur nisi optio 
                    autem quas blanditiis dicta 
                    perferendis 
                    facere laudantium 
                    commodi aliquid dolores 
                    accusantium tenetur, pariatur nihil beatae?
                </h5>
                <div class="contacto_redes">
                    <p><img src="/assets/ubicacion.png" alt=""> Jr.Rufino Torrico 3389</p>
                    <p><img src="/assets/telefono.png" alt="">  999999999</p>
                    <p><img src="/assets/faceboo.png" alt="">  facebook/Restaurant</p>
                    <p><img src="/assets/ubicacion.png" alt=""> Jr.Rufino Torrico 3389</p>
                    <p><img src="/assets/telefono.png" alt="">  999999999</p>
                    <p><img src="/assets/faceboo.png" alt="">  facebook/Restaurant</p>
                    
    
                </div>
            
            </div>
            <div class="horario_info">
                <h1>HORARIO DE ATENCION</h1>
                <h5>Lorem ipsum dolor sit amet 
                    consectetur adipisicing elit. 
                    Magni velit, sapiente accusantium 
                    nemo nulla aliquid sunt! Cumque 
                    tempore enim neque eos dolores rerum, 
                    aperiam ducimus molestias
                     ipsam placeat facilis repellendus?
                     Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                     Earum maiores numquam sed qui, ipsa esse eligendi 
                     repudiandae ex molestias molestiae est explicabo obcaecati eos,
                      rem nemo eveniet aliquam placeat! Magnam.
                      Lorem ipsum dolor sit amet 

                </h5>
    
            </div>
            
            


        </div>

    </div>


    
</body>
</html>
<app-footer></app-footer>
