
<div class="alert container position-sticky top-0 alert-primary hide" role="alert">
    Producto Añadido al carrito!
    </div>
    <div class="alert container position-sticky top-0 alert-danger remove" role="alert">
      Producto removido!
    </div>

    <div class="tab-content" id="pills-tabContent">
      <div
        class="tab-pane fade "
        id="pills-home"
        role="tabpanel"
        aria-labelledby="pills-home-tab"
      >
        1
      </div>
      <div
        class="tab-pane fade show active container"
        id="pills-profile"
        role="tabpanel"
        aria-labelledby="pills-profile-tab"
      >
        <h2 class="h4 m-4 text-primary">Productos</h2>

        <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">

          <div class="col d-flex justify-content-center mb-4">
            <div class="card shadow mb-1 bg-dark rounded " >
              <h5 class="card-title pt-2 text-center text-primary titulo">PROMOCION 1</h5>
              <img src="./assets/banner.jpg" class="card-img-top" alt="..." class="titulo">
              <div class="card-body ">
                <p class="card-text text-white-50 description" >Lorem ipsum dolor sit amet 
                    consectetur, adipisicing elit. Provident harum excepturi 
                    molestias eum esse</p>
                <h5 class="text-primary">Precio: <span class="precio">S/ 199.90</span></h5>
                <div class="d-grid gap-2">
                <button  class="btn btn-primary button">Añadir a Carrito</button>
              </div>
              </div>
            </div>
          </div>
          <div class="col d-flex justify-content-center mb-4">
            <div class="card shadow mb-1 bg-dark rounded" style="width: 20rem;">
              <h5 class="card-title pt-2 text-center text-primary">PROMOCION 2</h5>
              <img src="./assets/banner.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text text-white-50 description">Lorem ipsum dolor sit amet 
                    consectetur, adipisicing elit. Provident harum excepturi 
                    molestias eum esse</p>
                <h5 class="text-primary">Precio: <span class="precio">S/ 199.90</span></h5>
                <div class="d-grid gap-2">
                <button  class="btn btn-primary button">Añadir a Carrito</button>
              </div>
              </div>
            </div>
          </div>
          <div class="col d-flex justify-content-center mb-4">
            <div class="card shadow mb-1 bg-dark rounded" style="width: 20rem;">
              <h5 class="card-title pt-2 text-center text-primary">PROMOCION 3</h5>
              <img src="./assets/banner.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text text-white-50 description">Lorem ipsum dolor sit amet 
                    consectetur, adipisicing elit. Provident harum excepturi 
                    molestias eum esse</p>
                <h5 class="text-primary">Precio: <span class="precio">S/ 199.90</span></h5>
                <div class="d-grid gap-2">
                <button  class="btn btn-primary button">Añadir a Carrito</button>
              </div>
              </div>
            </div>
          </div>
          <div class="col d-flex justify-content-center mb-4">
            <div class="card shadow mb-1 bg-dark rounded" style="width: 20rem;">
              <h5 class="card-title pt-2 text-center text-primary">PROMOCION 4</h5>
              <img src="./assets/banner.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text text-white-50 description">Lorem ipsum dolor sit amet 
                    consectetur, adipisicing elit. Provident harum excepturi 
                    molestias eum esse</p>
                <h5 class="text-primary">Precio: <span class="precio">S/ 199.90</span></h5>
                <div class="d-grid gap-2">
                <button  class="btn btn-primary button">Añadir a Carrito</button>
              </div>
              </div>
            </div>
          </div>
          <div class="col d-flex justify-content-center mb-4">
            <div class="card shadow mb-1 bg-dark rounded" style="width: 20rem;">
              <h5 class="card-title pt-2 text-center text-primary">PROMOCION 5</h5>
              <img src="./assets/banner.jpg"class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text text-white-50 description">Lorem ipsum dolor sit amet 
                    consectetur, adipisicing elit. Provident harum excepturi 
                    molestias eum esse</p>
                <h5 class="text-primary">Precio: <span class="precio">S/ 199.90</span></h5>
                <div class="d-grid gap-2">
                <button  class="btn btn-primary button">Añadir a Carrito</button>
              </div>
              </div>
            </div>
          </div>
          <div class="col d-flex justify-content-center mb-4">
            <div class="card shadow mb-1 bg-dark rounded" style="width: 20rem;">
              <h5 class="card-title pt-2 text-center text-primary">PROMOCION 6</h5>
              <img src="./assets/banner.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text text-white-50 description">Lorem ipsum dolor sit amet 
                    consectetur, adipisicing elit. Provident harum excepturi 
                    molestias eum esse</p>
                <h5 class="text-primary">Precio: <span class="precio">S/ 199.90</span></h5>
                <div class="d-grid gap-2">
                <button  class="btn btn-primary button">Añadir a Carrito</button>
              </div>
              </div>
            </div>
          </div>
          <div class="col d-flex justify-content-center mb-4">
            <div class="card shadow mb-1 bg-dark rounded" style="width: 20rem;">
              <h5 class="card-title pt-2 text-center text-primary">PROMOCION 7</h5>
              <img src="./assets/banner.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text text-white-50 description">Lorem ipsum dolor sit amet 
                    consectetur, adipisicing elit. Provident harum excepturi 
                    molestias eum esse</p>
                <h5 class="text-primary">Precio: <span class="precio">S/ 199.90</span></h5>
                <div class="d-grid gap-2">
                <button  class="btn btn-primary button">Añadir a Carrito</button>
              </div>
              </div>
            </div>
          </div>
          <div class="col d-flex justify-content-center mb-4">
            <div class="card shadow mb-1 bg-dark rounded" style="width: 20rem;">
              <h5 class="card-title pt-2 text-center text-primary">PROMOCION 8</h5>
              <img src="./assets/banner.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text text-white-50 description">PROMOCION 8</p>
                <h5 class="text-primary">Precio: <span class="precio">S/ 199.90</span></h5>
                <div class="d-grid gap-2">
                <button  class="btn btn-primary button">Añadir a Carrito</button>
              </div>
              </div>
            </div>
          </div>
        </div>

      </div>
