<nav class="menu">

    <ul class="menu-list">
        <div>
            <a href="" routerLink="/home" type="button"><img src="/assets/descarga.png" width="50px" height="50px" ></a>
        </div>
      <li class="menu-item"><a routerLink="/nosotros" class="menu-link">NOSOTROS</a></li>
      <li class="menu-item"><a routerLink="/promociones" class="menu-link">PROMOCIONES</a></li>
      <li class="menu-item"><a routerLink="/carta" class="menu-link">NUESTRA CARTA</a></li>
      <li class="menu-item"><a routerLink="/bebidas" class="menu-link">CONTACTO</a></li>
      <li class="menu-item"><a routerLink="/menu-ninos" class="menu-link">LOCALES</a></li>
      <div class="cart_header">
        <a  href="" type="button"> <img src="/assets/cart.jpeg" alt="" class="cart" ></a>
      </div>

    </ul>
  </nav>

