<div class="container">
    <div class="row">
      <div class="col">
        <img src="/assets/banner.jpg" alt="" height="300px" width="300px">
      </div>
      <div class="col order-12">
        <h1>ENSALADAS</h1>
        <h6>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint, perferendis 
            necessitatibus? Quibusdam laudantium officia 
            culpa distinctio consequatur ullam voluptatum non accusamus ab, 
            provident similique eos? Ut voluptatem quos voluptates! Delectus!
        </h6>
      </div>
      <div class="col order-1">
        <img src="/assets/banner.jpg" alt="" height="300px" width="300px">
      </div>
    </div>
    <div class="row">
        <div class="col">
            <h1>ENSALADAS</h1>
            <h6>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint, perferendis 
                necessitatibus? Quibusdam laudantium officia 
                culpa distinctio consequatur ullam voluptatum non accusamus ab, 
                provident similique eos? Ut voluptatem quos voluptates! Delectus!
            </h6>
        </div>
        <div class="col order-12">
            <img src="/assets/banner.jpg" alt="" height="300px" width="300px">
        </div>
        <div class="col order-1">
            <h1>ENSALADAS</h1>
            <h6>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint, perferendis 
                necessitatibus? Quibusdam laudantium officia 
                culpa distinctio consequatur ullam voluptatum non accusamus ab, 
                provident similique eos? Ut voluptatem quos voluptates! Delectus!
            </h6>
        </div>
      </div>
      
      <div class="row">
        <div class="col">
          <img src="/assets/banner.jpg" alt="" height="300px" width="300px">
        </div>
        <div class="col order-12">
          <h1>ENSALADAS</h1>
          <h6>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint, perferendis 
              necessitatibus? Quibusdam laudantium officia 
              culpa distinctio consequatur ullam voluptatum non accusamus ab, 
              provident similique eos? Ut voluptatem quos voluptates! Delectus!
          </h6>
        </div>
        <div class="col order-1">
          <img src="/assets/banner.jpg" alt="" height="300px" width="300px">
        </div>
      </div>
      <div class="row">
        <div class="col">
        </div>
        <div class="colu order-12" id="boton">
            <button type="button">Descargar carta</button>
        </div>
        <div class="col order-1">
        </div>
      </div>
  </div>
  <app-footer></app-footer>